* {
    padding: 0;
    margin: 0;
    /* appearance: none; */
    text-decoration: none;
    color: #222;
    box-sizing: border-box;
  }
  body{
    max-height:100vh;
    /* background-color: #9ff9ea; */
    background: linear-gradient(to right, #a8ff78, #78ffd6);
  }
  ul,
  ol {
    list-style: none;
    padding-left: 0;
  }
  a{
    text-decoration: none;
    color:black;
  }
  .wrapper{
    width:90%;
    margin:0 auto;
  }